.applications {
    .title {
        color: #ffffff;
        padding: 25px;
        font-size: 25px;
        font-weight: bold;
    }

    .glyphicon-plus {
        font-size: 28px;
        border: solid 2px;
        border-radius: 50%;
        padding: 5px;
        padding-left: 8px;
    }

    .each-application {
        padding-bottom: 20px;
    }
}